<!DOCTYPE html>
<html lang="en">

<head>
	<title>Credential-View</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" type="text/css" href="/css/account.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script>
		function sharePage(url) {
			newwindow = window.open(url, "name", "height=350,width=400,scrollbars=yes");
			if (window.focus) {
				newwindow.focus();
			}
			return false;
		}
		$(document).ready(function () {
			// Configure/customize these variables.
			var showChar = 300;  // How many characters are shown by default
			var ellipsestext = "...";
			var moretext = "Show more";
			var lesstext = "Show less";

			$('.more').each(function () {
				var content = $(this).html();
				if (content.length > showChar) {
					var c = content.substr(0, showChar);
					var h = content.substr(showChar, content.length - showChar);
					var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
					$(this).html(html);
				}
			});

			$(".morelink").click(function () {
				if ($(this).hasClass("less")) {
					$(this).removeClass("less");
					$(this).html(moretext);
				} else {
					$(this).addClass("less");
					$(this).html(lesstext);
				}
				$(this).parent().prev().toggle();
				$(this).prev().toggle();
				return false;
			});
		});
		
	</script>
</head>
<body>

	<% var current= 'credentials' %>
	<%- include ./partials/head  %>

	<%if(certificateData != null) {%>

	<form action="/index" style="margin-left: 400px; margin-right: 400px; margin-top:80px" method="GET" id="cprfForm"
		enctype="multipart/form-data">
		<input type="hidden" name="userId" value="<%=userId%>">

		<div class="col-md-12">
			<div class="account-list-div image-post"><img src="<%= certificateData.badge.issuer.image %>"
					class="post-preview-img">
		    </div>
			<div class="post-image-desc">
				<h4><b><%= certificateData.badge.name %></b></h4>
				<h4><b>Recipient Name : </b> <%= certificateData.recipientProfile.name %></h4>
				<span>Issued on <time datetime="2019-05-23T07:45:59.232946+00:00">
						<%= certificateData.issuedOn %>
					</time> by <%= certificateData.badge.issuer.name %>
				</span>
			</div>
		</div>
		<div class="col-md-12">
			<a href="javascript:void(0)" onclick="sharePage('https://www.linkedin.com/cws/share?url=<%= shareLink %>');"
				title="Linkedin Share" target="_blank" class="fa fa fa-linkedin" aria-hidden="true"
				style="float: right;margin-left: 30px">
			</a>
			<a href="javascript:void(0)" onclick="sharePage('https:///www.google.com/gmail/');" title="Email Share"
				target="_blank" class="fa fa-envelope fa-share" aria-hidden="true"
				style="float: right;margin-left: 30px">
			</a>

			<a href="javascript:void(0)" data-vars-storyid="1555635877747" data-vars-icontype="facebook"
				onclick="sharePage('http://www.facebook.com/sharer/sharer.php?u=<%= shareLink %>');"
				title="Facebook Share" class="fa fa-facebook" aria-hidden="true"
				style="float: right;margin-left: 30px"></a>

			<a href="javascript:void(0)" data-vars-icontype="twitter" data-vars-storyid="1555635877747"
				onclick="sharePage('https://twitter.com/share?url=<%= shareLink %>');" title="Tweet"
				class="fa fa-twitter" aria-hidden="true" style="float: right;margin-left: 30px"></a>
		</div>
		<div class="col-md-12">
			<div>
				<h4><%= certificateData.badge.description %></h4>
			</div>
		</div>
		<div class="container" style="text-align:center">
			<a href="/credentials/<%= userId %>" class="btn btn-info btn-lg" role="button">OK</a>
		</div>
	</form>
	<% } else{%>
		<form action="/manage-credentials/<%=userId %>/<%=createdCredential.id %>" style="margin-left: 400px; margin-right: 400px; margin-top:80px" method="POST" id="cprfForm"
		enctype="multipart/form-data">
		<% if (typeof getCredentialLink != 'undefined' && getCredentialLink) { %>
			<div class="alert alert-success alert-dismissible" id="myAlert">
					<a href="" class="close">&times;</a>
				<%- getCredentialLink %></div>
				
			<% }%>
		<input type="hidden" name="userId" value="<%=userId%>">

		<div class="col-md-12">
			<div class="account-list-div image-post"><img src="<%= createdCredential.credentialImage %>"
					class="post-preview-img">
		    </div>
			<div class="post-image-desc">
				<h4><b><%= createdCredential.credentialName %></b></h4>
				<h4><b>Criteria : </b> <%= createdCredential.criteria %></h4>
				
		</div>
		
		<div class="col-md-12">
			<div>
				<h4>
				<p class="more"><%= createdCredential.credentialDescription %> </p> </h4>
			</div>
		</div>
		<div class="col-md-12">
					
					<label for="name"><b>Create Claim Code:</b></label>
		        	<input type="text" class="form-control" name="claimcode"/> <br>  
					<input type="submit" value="Get Claim Credential Link">
		
		</div>
		
	</form>
		<%}%>
</body>
</html>