<!DOCTYPE html>
<html lang="en">

<head>
  <title>Credentials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/group.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
  <% var current= 'credentials' %>
  <%- include ./partials/head  %>

  <div class="container account-contain profile-post-padding">
    <ul class="nav nav-tabs ">
      <li class="active account-tab-li"><a data-toggle="tab" href="#mycredentials">My Credentials</a></li>
      <li class="account-tab-li"><a data-toggle="tab" href="#claimcredentials">Claim Credentials</a></li>
    </ul>

    <div class="tab-content">

      <div id="mycredentials" class="tab-pane fade in active">          
          <div class="account-create-div">
              <% if (user.isGuest == false && groups.length > 0){ %>
                <a href="" class="account-create" data-toggle="modal" data-target="#myModal">
                    <h4>Create</h4>
                  </a>
                  <div class="modal fade" id="myModal"  role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h3 class="modal-title">Select a Group Type</h3>
                        </div>
                        <div class="modal-body" style="padding: 0px">
                           <ul class="nav nav-pills nav-stacked">
                              <% if(groups && groups.length > 0) { 
                                 groups.forEach( grp => { %>
                              <li style="text-align: center"><a href="/create-credential/<%= userId %>/<%= grp.id %>"
                                   style="border-bottom:1px solid #ccc"><%=grp.name%></a></li>
                                <% }); } %>                               
                          </ul>
                       </div>
                   </div>
                </div>
              </div>            
             <%  } else { %>
                <a href="" class="account-create" data-toggle="modal" data-target="#myModal"> <h4>Create </h4>
                  <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <p>You need to create a group to issue credentials. Would you like to create a group now? </p>
                            <div class="model-buttons" style="text-align: center;">
                              <button type="button" style="width: 100px;"><a href="/group/<%= userId %>">Yes</a></button>                     
                              <button type="button" style="width: 100px;"><a href="">No,Thanks</a></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                <%   } %>
        </div>
        <ul class="list-group account-underlist">
          <% if(credentials && credentials.length > 0) { 
                           credentials.forEach( credential => {
                                   const jsonCredential = JSON.parse(credential.credential);
                                   if(credential.isCredentialAcquired == true) {%>
          <li class="list-group-item" style="min-height: 100px;">
            <div class="account-list-div"><img src="<%= jsonCredential.badge.issuer.image %>" class="profile-img"></div>
            <div class="account-list-grp-title">
              <div> <a href="/credential-view/<%=credential.id %>/<%= user.id %>">
                  <h4 style="color: blueviolet"><%= jsonCredential.badge.name %> </h4>
                </a> </div>
              <div>
                <h4>Issued on <%= jsonCredential.issuedOn %> by <%= jsonCredential.badge.issuer.name %></h4>
              </div>
            </div>
            <div class="account-list-div toggle-align">

            </div>
          </li>
          <% } });} if(userCreateCredentials && userCreateCredentials.length > 0) { 
                    userCreateCredentials.forEach( createdCredential => { %>
                     <li class="list-group-item" style="min-height: 100px;">
                            <div class="account-list-div"><img src="<%= createdCredential.credentialImage %>" class="profile-img"></div>
                            <div class="account-list-grp-title">
                              <div> <a href="">
                                 <h4 style="color: blueviolet"><%= createdCredential.credentialName %></h4>
                             </a> </div>
                             <div>
                               <h4>Criteria :  <%= createdCredential.criteria %></h4>
                             </div>
                           </div>
                          <div class="account-list-div toggle-align">
                
                           </div>
                           <% if(userId == createdCredential.ssuserId){ %>
                            <div class="account-list-div"> 
                             <a href="/manage-credentials/<%=userId %>/<%=createdCredential.id %>" class="btn btn-info manage-button" role="button">Manage</a>
                           </div>
                           <% } %>
                         </li>
                        <% });
                  } %>
          
        </ul>
      </div>
      <div id="claimcredentials" class="tab-pane fade">
          <ul class="list-group account-underlist">
              <% if(credentials && credentials.length > 0) { 
                               credentials.forEach( credential => {
                                       const jsonCredential = JSON.parse(credential.credential);
                                       if(credential.isCredentialAcquired == false) {%>
              <li class="list-group-item" style="min-height: 100px;">
                <div class="account-list-div"><img src="<%= jsonCredential.badge.issuer.image %>" class="profile-img"></div>
                <div class="account-list-grp-title">
                  <div> <a href="/show-certificate/<%= userId %>/<%=credential.postId %>">
                      <h4 style="color: blueviolet"><%= jsonCredential.badge.name %></h4>
                    </a> </div>
                  <div>
                    <h4>Issued on <%= jsonCredential.issuedOn %> by <%= jsonCredential.badge.issuer.name %></h4>
                  </div>
                </div>
                <div class="account-list-div toggle-align">
    
                </div>
              </li>
              <% } });} %>
          </ul>
      </div>
    </div>
  </div>
</body>
</html>