<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="/css/group.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            // Configure/customize these variables.
            var showChar = 100;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "Show more";
            var lesstext = "Show less";

            $('.more').each(function () {
                var content = $(this).html();
                if (content.length > showChar) {
                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);
                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                    $(this).html(html);
                }
            });

            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                } else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });
    </script>
</head>

<body>
    <% var current= 'groups' %>
    <%- include ./partials/head  %>

    <form>
        <div class="tab-content" style="padding: 50px">
              <!-- flash message -->
            <div class="alert alert-success alert-dismissible" id="myAlert" hidden>
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p id="mail_success"></p>
            </div>

            <div class="profile-post-padding">
                <div class="grp-image-left"><img src="<%= group.groupImage %>" class="group-preview-img"></div>
                <div class="grp-image-desc">
                    <div>
                        <h4><b><%= group.name %></b></h4>
                    </div>
                </div>
                <div>
                    <p><h4 class="more"><%= group.description %></h4></p>
                </div>
                <div class="post-image-desc">
                    <%if (group.webSiteURL != null)  { %>
                    <h5><b></b><a href="<%= group.webSiteURL %>" target="_blank"> <%= group.webSiteURL %> </a> </h5>
                    <%  } %>
                </div>
                <% groupProfiles.forEach( profile => { 
                    if(profile.isDraft === true && group.id === profile.ssgroupId){ %>
                <div>
                        <% if(group.ownerId === parseInt(userId)){ %>
                            <h4><b>Contact Group Manager : </b><%= profile.name %> </h4>
                        <% }else { %>
                           <h4> 
                               <a onclick="contact_group_manager()"> <b>Contact Group Manager : </b><%= profile.name %></a>
                            </h4>
                        <% } %>

                        <script>
                                function contact_group_manager(){
                                    var data={
                                        from_mail_id:'<%= user.email %>',
                                        to_id:'<%= group.ownerId %>',
                                        subject:'<%= user.firstName%> <%= user.lastName %> is showing interest on your group',
                                        mail_body:'<%= user.firstName%> <%= user.lastName %> is interested to join <%= group.name %>.'
                                    }
                                    $.ajax({
                                        url: '/contact_manager/<%= userId %>/<%= group.id %>',
                                        type: 'post',
                                        dataType: 'json',
                                        data: data,
                                        success: function (response) {
                                            debugger;
                                            console.log(response);
                                            if(response.info.message === "success"){
                                                $('#myAlert').show();
                                                $('#mail_success').text(response.flashMessage[0]);
                                                setTimeout( function(){$('#myAlert').hide();} , 2000);
                                            }
                                        },
                                    });
                                }
                            </script>
                </div>
                <%  }  }); 
                if(group.groupType === "close" ){ %>

                    <h4><b>Criteria for joining group : </b><%= group.groupJoinCriteria %> </h4>
                <% } %>

                <div class="account">
                    <ul class="list-group account-underlist">
                        <% if(groupPosts && groupPosts.length > 0) { 
                           groupPosts.forEach( gp => { %>

                        <li class="list-group-item" style="min-height: 100px;margin-top: 60px">
                            <div class="account-list-div">
                                <div class="account-list-div">
                                    <%if (gp.postTypes == "Service")  { %>
                                    <p><img src="/images/service.png" class="profile-img"></p>
                                    <% }else if (gp.postTypes == "Event") { %>
                                    <p><img src="/images/event.png" class="profile-img"></p>
                                    <%  } else if (gp.postTypes == "Rental") { %>
                                    <p><img src="/images/rental.png" class="profile-img"></p>
                                    <%  }  else if (gp.postTypes == "Training") { %>
                                    <p><img src="/images/training.png" class="profile-img"></p>
                                    <%  }  else if (gp.postTypes == "Advisory") { %>
                                    <p><img src="/images/advisory.png" class="profile-img"></p>
                                    <%  }  %>
                                </div>
                            </div>
                            <div class="account-list-grp-title">
                                <div> <a href="/post/<%=gp.id %>/<%=userId %>" href=""> <h4><%= gp.name %></h4> </a></div> 
                                <% groupProfiles.forEach( profile => { 
                                  if(profile.id === gp.profileId){ %>
                                <div>
                                    <h5><%= profile.name %></h5>
                                </div>
                                <%  }  });  %>
                            </div>
                            <div class="account-list-div">
                                <%if (gp.credentialName !== null)  { %>
                                <img src="/images/checkmark.svg" class="profile-img">
                                <% } %>
                            </div>
                            <div class="account-list-div toggle-align">
                                <% groupProfiles.forEach( profile => { 
                            if(profile.id === gp.profileId){ %>
                                <img src="<%=profile.profileImage%>" class="profile-img">
                                <%  }  });  %>
                            </div>

                        </li>
                        <%
                });
                } else { %>
                        <h4 style="color: red"> There are no posts in this Group. </h4>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</body>
</html>